*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('./ingredients_sstock.jpg');
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    color: white;
    font-size: 28px;
}

span{
    color: #ea1538;
}

nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 10px 20px;
   
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    background: none;
    font-size: x-large;
  
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
    /* background-color: #ea1538; */
}

button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 16px;
}
.card-restaurant{
    width: 500px;
    height: 600px;
    border: 1px solid #dedede;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}
img{
    width: 100%;
    height: 300px;
}
p{
    font-size: 18px;
}
span{
    margin:  0 5px ;
}
.card-restaurant-details{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.country{
    margin: 20px 0;
}

.phone{
    margin: 20px 0;
}

.adress{
    margin: 20px 0 ;
}
a{
    text-decoration: none;
    background: red;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius:10px ;
    font-size: 17px;
    margin: 20px 0 ;
}